/* Home */
#home{
    background: rgb(0, 101, 219);
    background: linear-gradient(90deg, rgb(0,101,219) 50%, rgba(0, 212, 255, 1) 100%);
    min-height: 500px;
}

/* Cards */
.card{
    transition: all 0.5s ease;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

/* Form */
.form{
    background: rgb(0, 101, 219);
    background: linear-gradient(90deg, rgb(0,101,219) 30%, rgba(0, 212, 255, 1) 100%);
}

/* Footer */
.footer{
    background: rgb(0, 101, 219);
    background: linear-gradient(90deg, rgb(0,101,219) 40%, rgba(0, 212, 255, 1) 100%);
}

//Dark Mode
#darkmode{
    display: flex;
    justify-content: center;
  }
  
  #darkmode .dark {
    background-color: #292c35;
  }
  #darkmode .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  #darkmode .label {
    width: 38px;
    height: 14px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    cursor: pointer;
  }
  
  #darkmode .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  #darkmode .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }